<style>
	body{
		margin:0;
		font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
	
	p{
		margin:0;
	}
	
	.navigation-bar{
		color: #fff;
		font-size: 18px;
		padding: 13px 10px;
		background: #E4534D;
		text-align: center;
		max-width: 380px;
		letter-spacing: 1px;
		font-weight: 300;
	}
	
	/* Comments */
	.comments{
		background: #f6f6f6;
		max-width: 400px;
	}
	
	.comment{
		padding: 20px;
		//border-top: 1px solid #ddd;
		box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	}
	
	.comment:first-child{
		box-shadow: none;
	}
	
	.comment.reply{
		border-left: 8px solid #ddd;
	}
	
	.comment header{
		font-size: 14px;
		color: #777;
		margin-bottom: 10px;
	}
	
	.comment img{
		display: block;
		float: left;
		margin-right: 10px;
		border-radius: 10px;
	}
	
	.comment .meta-left{
		display: block;
		float: left;
		padding-top: 2px;
	}
	
	/* Product */
	.product{
		background: #fff;
		box-shadow: 0 1px 1px rgba(0,0,0,.2);
		padding: 10px;
		border-radius: 4px;
		margin-top: 10px;
		display: block;
		color: #333;
	}
	
	.product:hover{
		color: #67BCC4;
	}
	
	.product img{
		float: left;
		display: box;
		margin: 0;
		margin-right: 0;
		border-radius: 0;
		width: 10%;
	}
	
	.product .body{
		margin-left: 5%;
		float: left;
		width: 85%;
	}
	
	.product h1{
		font-size: 18px;
		margin: 0;
		line-height: 1.2em;
	}
	
	/* Footer */
	footer{
		margin-top: 10px;
		font-size: 14px;
		color: #777;
	}
	
	footer a{
		color: #777;
	}
	
	footer a:hover{
		color: #67BCC4;
	}
	
	/* Clearfix */
	.cf:before,
	.cf:after {
			content: " ";
			display: table;
	}
	
	.cf:after {
			clear: both;
	}
</style>

<header class="navigation-bar">Taggly</header>

<div class="comments">
	
	<% for(var i=0; i<comments.length; i++) { %>
	
	<div class="comment<% if(comments[i].isReply){ %> reply<% } %>">
		<header class="cf">
			<img src="<%= comments[i].author.picture %>" alt="<%= comments[i].author.username %>" width="20"/>
			<span class="meta-left"><%= comments[i].author.username %> – 15 minutes ago</span>
		</header>
		
		<p><%= comments[i].description %></p>
		
		<% if(comments[i].productUrl){ %>
		<a href="<%= comments[i].productUrl %>" target="_blank" class="product cf">
			<img src="http://ecx.images-amazon.com/images/I/51GBh3qOJDL._SL1004_.jpg" width="50"/>
			<div class="body">
				<h1>Clone Trooper Captain Rex Star WarsTM costume for boy - Age 8-10 Years - Large<h1>
			</div>
		</a>
		<% } %>
		
		<footer>
			<a href="">5 Upvotes</a>	– <a href="">Reply</a>
		</footer>
	</div>
	<% } %>
	
	<% for(var i=0; i<comments.length; i++) { %>
	
	<div class="comment<% if(comments[i].isReply){ %> reply<% } %>">
		<header class="cf">
			<img src="<%= comments[i].author.picture %>" alt="<%= comments[i].author.username %>" width="20"/>
			<span class="meta-left"><%= comments[i].author.username %> – 15 minutes ago</span>
		</header>
		
		<p><%= comments[i].description %></p>
		
		<% if(comments[i].productUrl){ %>
		<a href="<%= comments[i].productUrl %>" target="_blank" class="product cf">
			<img src="http://ecx.images-amazon.com/images/I/51GBh3qOJDL._SL1004_.jpg" width="50"/>
			<div class="body">
				<h1>Clone Trooper Captain Rex Star WarsTM costume for boy - Age 8-10 Years - Large<h1>
			</div>
		</a>
		<% } %>
		
		<footer>
			<a href="">5 Upvotes</a>	– <a href="">Reply</a>
		</footer>
	</div>
	<% } %>
	
</div>